    <div routerLink="/article/1" class="flex flex-col cursor-pointer bg-white border border-gray-200 shadow-2xs rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
        <img class="w-full h-[13em] rounded-t-xl" src="https://otakuteca.com/images/books/cover/5cb4f6a52e4aa.webp" alt="Card Image">
        <div class="p-4 md:p-5">
            <h3 class="text-lg font-bold text-gray-800 dark:text-white">
            Mato Seihei no Slave
            </h3>
        </div>
    </div>